<h1>New Post</h1>
<%= form_with(url:new_post_path	, method: "post") do %>
    <div class="form-group">
        <%= label_tag(:title, "Title:") %>
        <%= text_field_tag(:title, nil, placeholder: "Post Title...", class: "form-control") %>
    </div>
    <div class="form-group">
        <%= label_tag(:content, "Content:") %>
        <%= text_area_tag(:content, nil, size: "24x6", placeholder: "Post Content...", class: "form-control") %>
        
    </div>
    <div class="form-group">
        <%= submit_tag("post", class: "btn btn-dark ") %>
    </div>
<% end %>